extends layout

block head
  link(rel='stylesheet', href='./css/jsgrid.min.css')
  link(rel='stylesheet', href='./css/jsgrid-theme.min.css')

block content
  div#jsGrid

block scripts
  script(src='./js/jsgrid.min.js')
  script(src='./js/sample.js')
